<footer id="layout-footer">
    <div>
        <p>
            &#169; PlacementCell. All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/emp/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>