

<h1>Result update</h1>
<form action="/interview/result-update/<%= id %>" method="POST">

                             <select name="result" id="result">
                                <option value="pass">PASS</option>
                                <option value="FAIL">FAIL</option>
                                <option value="on hold">on hold</option>
                                <option value="not attempted">not attempted</option>
                            </select>
<button type="submit">Update</button>

</form>