
<link rel="stylesheet" href="/css/signin.css">

<form action="/emp/create-session" method="POST">
    <input type="email" name="email" placeholder="enter email">
    <input type="password" name="password" placeholder="enter password">
    <button type="submit">sign-in</button>
</form>