<form action="/student/create" method="POST">
    <input type="text" name="student_id" placeholder="enter student email">
    <input type="text" name="name" placeholder="enter student name">
    <input type="text" name="college" placeholder="enter student college">
    
    <label for="status">Choose status</label>
    <select name="status" id="status">
      <option value="placed">placed</option>
      <option value="not_placed">not_placed</option>
    </select>
    <button type="submit">add</button>

</form>